* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
}

.flex > div {
  flex: 1;
}