* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: hsl(243, 87%, 12%);
  font-size: 1.2em;
}

a {
  color: hsl(160, 55%, 42%);
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: 'Railway', sans-serif;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex > div {
  flex: 1;
}

.flex > div:first-child {
  margin-right: 20px
}

.flex > div:last-child {
  margin-left: 20px;
}
/* Nav styling */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul a {
  color: hsl(243, 87%, 12%);
  text-decoration: none;
}


/* form section */

form {
display: flex;
}


input {
  border: 1px solid hsl(224, 93%, 12%);
  border-radius: 2px;
  padding: 15px;
  flex: 0.7;

}

button {
  border: 1px solid hsl(224, 93%, 58%);
  background-color: hsl(224, 93%, 58%);
  border-radius: 4px;
  color: #fff;
  padding: 15px;
  flex: 0.3;
  padding: 15px;
  margin-left: 10px;
}

.light-blue {
  background-color: hsl(240, 75%, 98%);
  margin-top: 100px;
  position: relative;
  padding: 50px 0;
}

.light-blue::before {
  content: '';
  background-image: url('./images/bg-curve-desktop.svg');
  position: absolute;
  top: -60px;
  left: 0;
  height: 60px;
  width: 100%;
}